src/__tests__/definitions/invalid-parallel-ob-link.json
{
  "Comment": "The link to the \"Final State\" within the Choice is invalid because it targets a state outside of its parent branch",
  "StartAt": "Parallel",
  "States": {
    "Parallel": {
      "Type": "Parallel",
      "Next": "Final State",
      "Branches": [
        {
          "StartAt": "Wait 20s",
          "States": {
            "Wait 20s": {
              "Type": "Wait",
              "Seconds": 20,
              "End": true
            }
          }
        },
        {
          "StartAt": "Pass",
          "States": {
            "Pass": {
              "Type": "Pass",
              "Next": "ChoiceState"
            },
            "ChoiceState": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.foo",
                  "NumericEquals": 1,
                  "Next": "Wait 10s"
                },
                {
                  "Variable": "$.foo",
                  "NumericEquals": 2,
                  "Next": "Final State"
                }
              ],
              "Default": "Wait 10s"
            },
            "Wait 10s": {
              "Type": "Wait",
              "Seconds": 10,
              "End": true
            }
          }
        }
      ]
    },
    "Final State": {
      "Type": "Pass",
      "End": true
    }
  }
}
