src/__tests__/definitions/valid-map-with-catch.json
{
  "Comment": "An example of the Amazon States Language using a map state to map over items in parallel.",
  "StartAt": "Map",
  "States": {
    "Map": {
      "Type": "Map",
      "Next": "Final State",
      "InputPath": "$.input",
      "ItemsPath": "$.items",
      "MaxConcurrency": 0,
      "Iterator": {
        "StartAt": "Wait 20s",
        "States": {
          "Wait 20s": {
            "Type": "Wait",
            "Seconds": 20,
            "End": true
          }
        }
      },
      "ResultPath": "$.result",
      "Catch": [{
        "ErrorEquals": [
          "States.ALL"
        ],
        "Next": "D"
      }]
    },
    "Final State": {
      "Type": "Pass",
      "End": true
    },
    "D": {
      "Type": "Fail"
    }
  }
}
